body {
    background-color: blue;
    font-family: 'Franklin Gothic Medium';
}

h1 {
    text-align: center;
    font-size: 2.5em;
    background-color: rgb(117, 117, 255);
}

table, th, td {
    border: 5px solid rgb(126, 0, 126);
    border-collapse: collapse;
    padding: 5px;  
}

table {
    background-color: rgb(117, 117, 255);
}

td:hover {
    background-color: red;
}

.pokemonTable {
    width: 60%;
    text-align: center;
    font-size: 2em;
    margin: auto;
}

img {
    max-width: 200px;
}